
.sidebar-container {
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #33373d;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar-container::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    background-color: #f5f5f5;
}
.sidebar-container::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    border-radius: 10px;
    min-height: 25px;
}
.sidebar-container::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}
#app{
    .sidebar-container {
        height: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: #33373d;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-header-bar{
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout-logo-left{
    width: 90%;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
}
.menu-icon{
    transition: all .3s;
}
.rotate-icon{
    transform: rotate(-90deg);
}
.menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}
.menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}
.collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}